<!DOCTYPE html>
<html lang="en" class="mdl-layout">
<head>
  <meta charset="UTF-8">
  <title>CodePen - CSS-Only Infobox</title>
  <link href="{{ url_for('static', filename='css/toggle.css') }}" rel="stylesheet"> 

</head>
<body>
<!-- partial:index.partial.html -->
<h1>CSS-Only Infobox</h1>
<main>
	<h2>Trigger the Infobox by klicking the Button below</h2>
	<span class="md-caption">The Button triggers a checkbox, and then the Infobox gets unhidden c:</span>
	<p>
		<label for="menuToggle" class="toggleButton md-button md-button--raised">Toggle Infobox</label>
	</p>
	
	<div>
		<input id="menuToggle" type="checkbox">
		<div class="infobox md-card">
			<div class="md-card-content">
				<h2>The Magic Infobox</h2>
				<span class="md-caption">This Box gets visually (un)hidden via the Toggle button.</span>
				<p>Agenda democratizing the global financial system, human being safeguards pathway to a better life accessibility economic independence underprivileged.</p>
				<p>Contribution; sustainability mobilize meaningful enabler equity Bill and Melinda Gates support metrics committed public service. Shifting landscape improving quality countries cross-cultural lasting change free expression peaceful.</p>
			</div>
			<div class="md-card-btns">
				<label for="menuToggle" class="md-button">Close Box</label>
			</div>
		</div>
	</div>
</main>
<!-- partial -->
  
</body>
</html>
